{% extends 'base.html' %}

{% block title_block %}
  Django ORM
{% endblock %}

{% block body_block %}
  <div class="row">
    <div class="col-6 mt-4">
      {% comment %} {% for restaurant in restaurants %}
        <p>{{ restaurant.name }}</p>
        <ul>
          {% for rating in restaurant.ratings.all %}
            <li>
              <p>{{ rating.rating }}</p>
            </li>
          {% endfor %}
        </ul>
      {% endfor %} {% endcomment %}

      {% comment %} <h2>Sales</h2>
      {% for restaurant in restaurants %}
        <p>{{ restaurant.name }}</p>
        <ul>
          {% for sale in restaurant.sales.all %}
            <li>
              <p>{{ sale.income }}</p>
            </li>
          {% endfor %}
        </ul>
      {% endfor %} {% endcomment %}

      {% comment %} {% for rating in ratings %}
        <p>{{ rating.restaurant.get_restaurant_type_display }} - {{rating.rating}}  </p>
      {% endfor %} {% endcomment %}


     {% comment %} {% for restaurant in restaurants %}
        <p>{{ restaurant.name }}</p>
        <ul>
          {% for rating in restaurant.ratings.all %}
            <li>
              <p>{{ rating.rating }}</p>
            </li>
          {% endfor %}
        </ul>
        <p>Sales</p>
        <ul>
          {% for sale in restaurant.sales.all %}
            <li>
              <p>${{ sale.income }}</p>
            </li>
          {% endfor %}
        </ul>
      {% endfor %} {% endcomment %}


    </div>
  </div>
{% endblock %}
